<form class="driver-form" (ngSubmit)="save()" [formGroup]="driverForm">

    <md-input-container class="cell-full-width">
        <input mdInput placeholder="Type (disabled)" disabled value="Drivers card">
    </md-input-container>

    <table class="cell-full-width" cellspacing="0"><tr>
        <td><img src="http://placehold.it/130x130"></td>
        <td>
            <md-input-container class="cell-full-width">
                <input id="surnameId" type="text" mdInput placeholder="Surname" formControlName="lastName" required>
            </md-input-container>
        </td>
        <td>
            <md-input-container class="cell-full-width">
                <input type="text" mdInput placeholder="First name" formControlName="firstName" required>
            </md-input-container>
        </td>
        <td>
            <md-input-container class="cell-full-width">
                <input type="text" mdInput placeholder="Patronymic" formControlName="patronymic">
            </md-input-container>
        </td>
    </tr>
    <tr>
        <td colspan="2">...</td>
        <td>
            <md-input-container class="cell-full-width">
                <input mdInput formControlName="dateofbirth" type="date" placeholder="Date of birth" required>
            </md-input-container>
        </td>
        <td>
            <md-radio-group  formControlName="gender" class="cell-full-width">
                <md-radio-button value="male" checked="true">Male</md-radio-button>
                <md-radio-button value="female">Female</md-radio-button>
            </md-radio-group>
        </td>
    </tr>
    </table>

    <md-tab-group>
        <md-tab label="Personal data">
            <div class="tab-block">
                <div formGroupName="passport">
            <table class="cell-full-width" cellspacing="1"><tr>
                <td width="20%"><md-input-container>
                    <input mdInput #passportSeries formControlName="series" placeholder="passport Series">
                    <md-hint align="end">{{passportSeries.value.length}} / 2</md-hint>
                </md-input-container></td>
                <td width="20%"><md-input-container>
                    <input mdInput #passportId formControlName="passportN" placeholder="passport ID">
                    <md-hint align="end">{{passportId.value.length}} / 6</md-hint>
                </md-input-container></td>
                <td width="25%"><md-input-container class="cell-full-width">
                    <input mdInput type="date" formControlName="dateofissue" placeholder="Date of issue">
                </md-input-container></td>
                <td width="35%"><md-input-container class="cell-full-width">
                    <input mdInput formControlName="bywhom" placeholder="Passport issued by">
                </md-input-container></td>
            </tr>
            </table>
                </div>
            <table class="cell-full-width" cellspacing="1">
                    <tr>
                        <td>
                            <md-input-container class="cell-full-width">
                                <textarea mdInput formControlName="address1" placeholder="Residence registration">61000 Lenina Ave</textarea>
                            </md-input-container>
                        </td>
                        <td>
                            <md-input-container class="cell-full-width">
                                <textarea mdInput formControlName="address2" placeholder="Address" ></textarea>
                            </md-input-container>
                        </td>
                    </tr>
            </table>
                <div formArrayName="phones" *ngFor="let phone of phones.controls; let i=index">
                    <div [formGroupName]="i">
                        <p>
                            <md-input-container>
                                <input mdInput type="tel"  formControlName="phone" placeholder="phone" required>
                                <md-error>Please enter correct phone number</md-error>
                            </md-input-container>

                            <button md-button class="app-icon-button" (click)="addPhones()">
                                <md-icon>add_box</md-icon>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </md-tab>
        <md-tab label="Cars">
            <p>Info about cars</p>
             <br>
        </md-tab>
    </md-tab-group>
    <md-card>
         <button md-raised-button type="submit" [disabled]="!driverForm.valid">Save form</button>


          <button md-raised-button type="button" (click)="populateTestData()">Test Data</button>
            <br>
            <br>
            <br>{{driverForm.value | json}}
            <br>
</md-card>
</form>

