<md-sidenav-container class="example-sidenav-fab-container">
    <md-sidenav #sidenav mode="side" opened="true">
        <button md-mini-fab class="example-fab" (click)="sidenav.toggle()">
            <md-icon>add</md-icon>
        </button>
        <div class="example-scrolling-content">
            <md-list>
                <md-list-item>
                    <md-icon md-list-icon>directions_car</md-icon>
                    <p md-line>Item 1</p>
                </md-list-item>
                <md-list-item>
                    <md-icon md-list-icon>format_list_bulleted</md-icon>
                    <p md-line>Item 2</p>
                </md-list-item>
                <md-list-item>
                    <md-icon md-list-icon>settings</md-icon>
                    <p md-line>Item 3</p>
                </md-list-item>
            </md-list>
        </div>
    </md-sidenav>
    <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
        <i class="material-icons app-toolbar-menu">menu</i>
    </button>

        <h3>Drivers</h3>

        <span class="app-toolbar-filler"></span>
    </md-toolbar>
    <div class="example-scrolling-content">
        <md-card>
            <p>
        Lorem ipsum dolor sit amet, pede a libero aenean phasellus, lectus metus sint ut risus, fusce
        vel in pellentesque. Nisl rutrum etiam morbi consectetuer tempor magna, aenean nullam nunc id,
        neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna.
        Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat
        cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
        sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu
        erat nulla in aenean lacinia ullamcorper, urna ante nam et sagittis, tristique vehicula nibh
        ipsum vivamus, proin proin. Porta commodo nibh quis libero amet. Taciti dui, sapien
        consectetuer.
            </p>

            <button md-raised-button color="warn" (click)="openDialog()">
                Add driver
            </button>
        </md-card>


    </div>
</md-sidenav-container>

